#issue-todo-list-table.sortable > tbody > tr > td {
    cursor: move;
}

/* Full line comment */
#issue-todo-list-table > tbody > tr > td[colspan] {
    text-align: left;
    padding-left: 10px;
}

#show-right-box p {
    margin: 0;
}

.issue-todo-list-drop {
    height: 23px;
    width: 100%;
    border: 1px solid #000;
}

#update_issue_todo_list_items_wrapper{
    display: none;
}
